/*-- Google Fonts --*/

@import url('https://fonts.googleapis.com/css?family=Karla|Noto+Sans:700');

/*-- HTML & Body --*/

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow: auto;
    font-family: 'Karla', sans-serif !important;
}

#wrapper {
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #03A3F9;
    padding-top: 100px !important;
}

/*-- Headings --*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans', sans-serif !important;
}

.bold {
    font-weight: bold;
}

.jumbotron {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}

/*-- Navigation Styles --*/

#header-img {
    width: 50%;
}

.navbar-brand {
    width: 25%;
}

.nav {
    font-size: 18px;
}

/*-- Discover Styles --*/

.discover-content-one {
    padding: 10px;
    font-size: 24px;
    color: #6B6B6B;
}

.discover-content-two {
    padding: 10px;
    font-size: 24px;
    color: #6B6B6B;
    display: flex;
}

/*-- Product Styles --*/

ul {
    padding: 0;
}

li {
    list-style: none;
}

#products {
    font-size: 18px;
}